<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/validateSfz.js" type="module"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 78px;
            height: 78px;
            line-height: 78px;
            text-align: center;
        }
        .avatar {
            width: 78px;
            height: 78px;
            display: block;
        }
    </style>
</head>
<body>
<div id="div">
    <h4>创建就诊卡</h4>
    <el-form :model="patientForm" :rules="rules" ref="patientForm" label-width="100px">
        <el-form-item label="病人姓名" prop="name">
            <el-input v-model="patientForm.name"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="phone">
            <el-input v-model="patientForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="家庭地址" prop="address">
            <el-input  v-model="patientForm.address"></el-input>
        </el-form-item>
        <el-form-item label="医保卡号" prop="idMedicare">
            <el-input  v-model="patientForm.idMedicare"></el-input>
        </el-form-item>

        <el-form-item label="身份证号" prop="idCard">
            <el-input  v-model="patientForm.idCard" :maxlength="18"></el-input>
        </el-form-item>
        <el-form-item label="出生日期" prop="birthday">
            <!--<el-input v-model="patientForm.birthday" ></el-input>-->
            <el-date-picker type="date" v-model="patientForm.birthday" ></el-date-picker>
        </el-form-item>

        <el-form-item label="性别" prop="sex">
            <el-select v-model="patientForm.sex" placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('patientForm')">保存</el-button>
            <el-button @click="resetForm('patientForm')">返回</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script type="module">
    import {validateSfz} from "/js/validateSfz.js";
    new Vue({
            el: '#div',
            data(){
                return{
                    patientForm: {
                        name: '',
                        phone: '',
                        address: '',
                        isMedicare:2,
                        idMedicare: '',
                        idCard: '',
                        birthday: '',
                        sex:1,
                    },
                    options: [{value: 1, label: '女'}, {value: 2, label: '男'}],
                    rules: {
                        name: [
                            {required: true, message: '病人姓名不能为空', trigger: 'blur'}
                        ],
                        phone: [
                            {required: true, message: '手机不能为空', trigger: 'blur'}
                        ],
                        address: [
                            {required: true, message: '家庭地址不能为空', trigger: 'blur'}
                        ],
                        //校验规则
                        idCard: [{ required: true, validator: validateSfz, trigger: "blur" }],
                    }
                }
            },
            methods: {
                submitForm(formName) {
                    //1.获取表单数据--利用json对象接收表单数据（利用vue双向绑定）
                    //2.调用接口
                    axios.post("patient/add", this.patientForm).then((ret) => {
                       if (ret.data.code == 1){ //成功
                           // this.$message({message: '添加成功', type: 'success'});
                           //刷新  防止重复添加
                           //location.reload();
                           //提示成功后，再做处理
                           this.$message({message:'添加成功', type:'success', onClose:() =>{
                               location.reload();
                               }});
                       } else { //失败
                           this.$message({message:'添加失败', type:'error'})
                       }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                checkIdentitytionId(value) {
                    this.checkId = (rule, value, callback) => {
                        var errorMsg = isIdentityId(value);
                        if (errorMsg != "") {
                            callback(new Error(errorMsg));
                        }
                    }
                }
            }
        }
    );
</script>
</html>