<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <script src="js/vue.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <style type="text/css">
        .el-form-item {
            display: inline-block !important;
            float: left;
            width: 400px;
        }
        .el-dialog__body {
            padding: 5px 30px;
        }
    </style>
</head>
<body>
<div id="div">
    <b style="font-size: 15px;">挂号信息管理</b>
    <div style="margin-top: 30px;margin-bottom: 20px;padding-left: 10px">
        <el-row>
            <el-col :span=5>
                身份证号:
                <el-input v-model="searchForm.idCard" size="mini" style="width: 180px"></el-input>
            </el-col>

            <el-col :span=4>
                就诊科室:
                <el-select v-model="searchForm.departmentId" @change="loadDocter()" placeholder="请选择" size="mini" style="width: 130px">
                    <el-option
                            v-for="item in departmentList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-col>

            <el-col :span=4>
                挂号医师:
                <el-select v-model="searchForm.userId" placeholder="请选择" size="mini" style="width: 130px">
                    <el-option
                            v-for="item in docterList"
                            :key="item.id"
                            :label="item.userName"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span=5>
                挂号单状态:
                <el-select v-model="searchForm.status" placeholder="请选择" size="mini" style="width: 130px">
                    <el-option
                            v-for="item in statusList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span=4>
                <el-button type="primary" @click="getRegistryListByPage()" size="mini" style="width: 100px">查询
                </el-button>
            </el-col>
        </el-row>
    </div>
    <el-table :data="tableData">
        <el-table-column prop="id" label="挂号单编号" width="100">
        </el-table-column>
        <el-table-column prop="name" label="病人姓名" width="100">
        </el-table-column>
        <el-table-column prop="sex" :formatter="sexParse" label="性别" width="80">
        </el-table-column>
        <el-table-column prop="cardId" label="身份证号" width="200">
        </el-table-column>
        <el-table-column prop="dname" label="就诊科室" width="130">
        </el-table-column>
        <el-table-column prop="regTime" label="挂号时间" width="170">
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="170">
        </el-table-column>
        <el-table-column prop="sname"  label="挂号单状态" width="170">
        </el-table-column>
        <el-table-column label="操作" width="120">
            <template slot-scope="scope">
                <el-button type="info" @click="detailRegistry(scope.$index, scope.row.id)">查看详情</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page.sync="pagination.currentPage"
            :page-sizes="[4, 5, 8]"
            :page-size.sync="pagination.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pagination.total">
    </el-pagination>


    <!--挂号单详情  :visible="true"  显示  :visible="false"不显示 -->
    <el-dialog title="查看挂号信息" :visible.sync="dialogFormVisible" width="70%" :before-close="handleClose">
        <h4>病人信息</h4>
        <el-form :model="form" size="mini">
            <el-form-item label="姓名" :label-width="formLabelWidth">
                <el-input v-model="form.pname" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
                <el-input v-model="form.pcardId" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-input :value="form.psex | genderFilter" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="出生日期" :label-width="formLabelWidth">
                <el-input v-model="form.pbirthday" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="家庭住址" :label-width="formLabelWidth">
                <el-input v-model="form.paddress" autocomplete="off" disabled></el-input>
            </el-form-item>
            <hr class="input_width" style="width: 90%"/>
            <h4>挂号信息</h4>
            <el-form-item label="挂号单编号" :label-width="formLabelWidth">
                <el-input v-model="form.id" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="就诊科室" :label-width="formLabelWidth">
                <el-input v-model="form.dname" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="就诊房间" :label-width="formLabelWidth">
                <el-input v-model="form.rname" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="挂号医师" :label-width="formLabelWidth">
                <el-input v-model="form.userName" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="就诊时间" :label-width="formLabelWidth">
                <el-input v-model="form.zdtime" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="挂号时间" :label-width="formLabelWidth">
                <el-input v-model="form.regTime" autocomplete="off" disabled></el-input>
            </el-form-item>

            <hr class="input_width" style="width: 90%"/>
            <h4>医嘱信息</h4>
            <el-form-item label="病人主诉" style="width: 750px;clear:left;" :label-width="formLabelWidth">
                <el-input v-model="form.pinfo" type="textarea" :rows="4" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="诊断结果" style="width: 750px;clear:left;" :label-width="formLabelWidth">
                <el-input v-model="form.zdinfo" type="textarea" :rows="4" autocomplete="off" disabled></el-input>
            </el-form-item>
            <el-form-item label="就诊医师" :label-width="formLabelWidth">
                <el-input v-model="form.userName" autocomplete="off" disabled></el-input>
            </el-form-item>
        </el-form>
        <div style="height: 250px"></div>
        <div slot="footer" class="dialog-footer" style="text-align: center">
            <el-button type="primary"  @click="dialogFormVisible = false" size="mini">关  闭</el-button>
        </div>
    </el-dialog>
</div>
</body>
<script type="application/javascript">
    new Vue({
            el: '#div',
            data: {
                searchForm: {  //搜索条件
                    departmentId: '',
                    patientId: '', //这个没用可以删除
                    idCard: '',
                    userId: '',
                    status: ''
                },
                docterList:[],  //医生
                statusList: [
                    {id: 1, name: '已挂号，未问诊'},
                    {id: 2, name: '正在问诊'},
                    {id: 3, name: '结束问诊'}
                ],
                departmentList: [],
                tableData:[],
                pagination: {
                    currentPage: 1,   //当前页码
                    pageSize: 4,   //每页大小
                    total: 0   //总记录数---调用接口获取
                },
                dialogFormVisible: false,
                form:{
                    "id": "",
                    "regTime": "",
                    "pname": "",
                    "jzTime":"",
                    "paddress": "",
                    "pbirthday": "",
                    "psex": "",
                    "pcardId": "",
                    "dname": "",
                    "rname": "",
                    "userName": "",
                    "pinfo": "",
                    "zdinfo": "",
                    "zdtime": ""
                },
                formLabelWidth: '120px'
            },
            mounted:function(){  //加载
                //加载科室
                axios.get("department/getAll").then((ret)=>{
                    //将服务器返回的数据设置到查模型对象
                    this.departmentList=ret.data.data;
                });
                //查询挂号信息
                this.loadReg();
            },
            methods: {
                //加载分页信息
                loadReg:function(){
                    axios.get("registry/regSearch",{
                        params:{
                           page:this.pagination.currentPage,
                           pageSize:this.pagination.pageSize,
                           //追加条件
                           departmentId:this.searchForm.departmentId,
                           cardId:this.searchForm.idCard,
                           status:this.searchForm.status,
                           userId:this.searchForm.userId
                        }
                    }).then((ret)=>{
                         //获取返回数据
                         //将返回的当前的数据设置到模型
                         this.tableData=ret.data.data.list;
                         //将总记录数据设置到分页组件
                         this.pagination.total=ret.data.data.totalRecord;
                    }).catch((error)=>{
                        console.log("接口出错"+error);
                    });
                },
                //搜索的方法
                getRegistryListByPage:function(){
                     //获取搜索条件的值,利用双向绑定
                     //调用后台接口
                     this.loadReg();
                },
                //功能：改变查询每页显示的条数，pagination组件会自动传递选择的pageSize
                handleSizeChange() {
                    //改了页大小重新查询
                    this.pagination.currentPage=1;
                    this.loadReg();
                },
                //功能：翻页查询，pagination组件会自动传递当前页号currentPage
                handleCurrentChange() {
                    //改了页码重新查询
                    this.loadReg();
                },
                handleClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            done();
                        })
                        .catch(_ => {});
                },
                detailRegistry(index, id) {  //index表示行的索引  id表示挂号id
                    this.dialogFormVisible = true;
                    //调用后台接口，查询挂号详细进行回显示
                    axios.get("registry/regDesc?rid="+id).then((ret)=>{
                        var regDesc=ret.data.data;
                        //将返回的数据放到表示的模型对象中
                        this.form=regDesc;
                    }).catch((error) => {
                        console.log("接口出错"+error);
                    });

                },
                loadDocter:function(){  //加载医生
                     //调用后台接口
                     axios.get("user/getUserByD?departmentid="+this.searchForm.departmentId)
                         .then((ret)=>{
                              //获取返回的数据填充到vue的模型
                            this.docterList=ret.data.data;
                         });
                },
                sexParse(row, column, cellValue) {
                    let str = '';
                    console.log(cellValue);
                    switch (cellValue) {
                        case '1':
                            str = "男";
                            break;
                        case '2':
                            str = "女";
                            break;
                    }
                    return str;
                }
            },
            //显示性别
            filters: {
                genderFilter(value) {
                    if (value === '1')
                        return '男';
                    if (value === '2')
                        return '女';
                }
            }
        }
    );
</script>
</html>